body {
    color: lightgray;
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(90deg, #013A6B 10%, #004E95 70%);
    background-repeat:no-repeat;
}

td, th {
    color: lightgray;
}